Flask==2.3.2
Flask-SQLAlchemy==3.0.3
psycopg2-binary==2.9.6
gunicorn==20.1.0
flask-swagger-ui==4.11.1
flask-restful==0.3.10
pyjwt==2.8.0
Flask-Bcrypt==1.0.1
marshmallow==3.20.1
flask_jwt_extended==4.5.2
flask-cors==3.0.10

torch==2.0.1
diffusers==0.12.1
invisible_watermark==0.2.0
transformers==4.27.4
accelerate==0.22.0
jax==0.4.1